numpy==1.26.4
scikit-learn==1.5.0
rdkit==2023.9.6
pandas==2.2.2
pyarrow==16.1.0
torch==2.3.1
tqdm==4.66.4
transformers==4.41.2
evaluate==0.4.2
xgboost==2.0.3
fastparquet==2024.5.0
drfp
faerun
mhfp
ipykernel
morfeus-ml
matplotlib
xtb